@using PagedList;
@using PagedList.Mvc;
@using Vivo.Model;
@using Vivo.IBLL;
@using Vivo.BLLFactory;

@model IPagedList<Vivo.Model.EvalTemplateInfo>

@{
    ViewBag.Title = "评价模板管理";
    Layout = "~/Areas/Wechat/Views/Shared/_Layout.cshtml";
    IPowerActionInfoService PowerActionBLL = (IPowerActionInfoService)ViewBag.PowerActionBLL;
    IUserInfoService UserBLL = AbstractFactory.CreateUserInfoService();
}
@section head{
    <script type="text/javascript">
        function BtnDelete_Click(ItemID) {
            $.post("@Url.Action("Delete")", { ID: ItemID }, function (data) {
                alert(data.ErrorMsg);
                if (data.ErrorCode == 0) {
                    location.reload();
                }
            });
        }

    </script>
    <style type="text/css">
        
    </style>
}
<div class="bd">
@if (PowerActionBLL.PowerCheck(PowerInfo.P_系统管理.PP评价模板.KEY))
{
    <a href="@Url.Action("Create")" class="weui_btn weui_btn_primary" title="添加" style="margin:15px;">
        添加
    </a>
}


</div>

<div class="weui_panel">
    <div class="weui_panel_bd">
        @foreach (var item in Model)
            {

        <a class="weui_media_box weui_media_text" href="@Url.Action("Detail",new { ID=item.ID})">           
            <h4 class="weui_media_title">@item.Name</h4>
            <p class="weui_media_desc"></p>
            <ul class="weui_media_info">
                <li class="weui_media_info_meta">状态 @(item.Enable?"正常":"禁用")</li>
                <li class="weui_media_info_meta weui_media_info_meta_extra">
                    量化项:@item.TemplateItemInfo.Count()
                </li>
                <li class="weui_media_info_meta weui_media_info_meta_extra">
                    排序号:@item.SortID
                </li>
            </ul>
        </a>
        }
    </div>
</div>



@if (Model.PageCount > 1)
{

    <div style="height: 53px; " title="无用的元素，只是点位，当列表数据很长时，fix的分布元素会挡住最后一行的数据嘛"></div>
    <div class="DivPager" id="DivPager">
        <div style="text-align:center;margin-bottom:5px;">
            <div class="btn-group">
                <button type="button" class="btn btn-default" onclick="BtnSch_Click('per')">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &lt;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </button>
                <button type="button" class="btn btn-default">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="SpanPageCurrent">@Model.PageNumber</span> /<span id="SpanPageTotal">@Model.PageCount</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
                <button type="button" class="btn btn-default" onclick="BtnSch_Click('nex')">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &gt;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>


    </div>

}




