@using PagedList;
@using PagedList.Mvc;
@using Vivo.Model;
@using Vivo.IBLL;
@using Vivo.BLLFactory;

@model IPagedList<Vivo.Model.DepartmentInfo>

@{
    ViewBag.Title = "学校管理";
    Layout = "~/Areas/Wechat/Views/Shared/_Layout.cshtml";
    IPowerActionInfoService PowerActionBLL = (IPowerActionInfoService)ViewBag.PowerActionBLL;
    IUserInfoService UserBLL = AbstractFactory.CreateUserInfoService();
}
@section head{
    <script type="text/javascript">
        function BtnSch_Click(pernex) {
            var URL = "@Url.Action("index")";
            URL += "?Name=" + $("#TxtName").val();
            URL += "&TypeID=" + $("#DdlTypeID").val();
            var PageCurrent = Number("@(Tool.Function.GetRequestInt("page")<=0?1: Tool.Function.GetRequestInt("page"))");
            URL += "&page=";
            if (!pernex || pernex == "") {
                URL += "1";
            }
            else if (pernex == "per") {
                URL += (PageCurrent <= 1 ? PageCurrent : (PageCurrent - 1));
            }
            else if (pernex == "nex") {
                URL += (PageCurrent + 1);
            }
            location.href = URL;
        }
        function BtnDelete_Click(ItemID) {
            $.post("@Url.Action("Delete")", { ID: ItemID }, function (data) {
                alert(data.ErrorMsg);
                if (data.ErrorCode == 0) {
                    location.reload();
                }
            });
        }
        /*搜索相关事件*/
        function Seach_Toggle() {
            $("#SeachContainer").toggle(400);
        }
        function BtnReset_Click() {
            $("#DdlTypeID").val("");
            $("#TxtName").val("");
        }

    </script>
    <style type="text/css">
        .SpanMajorUser {
            color:#F60;
            font-weight:bold;
        }
    </style>
}
<div class="bd">
    <div style="margin:5px;padding:5px;border:1px solid #CCC;border-radius:10px;display:none;" id="SeachContainer">
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_hd">
                    <label class="weui_label">名称</label>
                </div>
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.TextBox("TxtName", null, new { placeholder = "请输入部门名称关键字", @class = "weui_input" })
                </div>
            </div>
            <div class="weui_cell weui_cell_select weui_select_after">
                <div class="weui_cell_hd"><label class="weui_label">类型</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.DropDownList("DdlTypeID", ViewBag.listTypeEnum as List<SelectListItem>, "不限", new { @class = "weui_select" })
                </div>
            </div>
            <div>
                <div style="width:50%;float:left;padding:0px 5px;">
                    @if (PowerActionBLL.PowerCheck(PowerInfo.P_系统管理.PP系统帐户管理.PPP单位部门管理.添加))
                    {
                        <a href="@Url.Action("Create")" class="weui_btn weui_btn_default ">添加</a>
                    }

                </div>
                <div style="width:50%;float:left;padding:0px 5px;">
                    <a href="javascript:BtnSch_Click();" class="weui_btn weui_btn_plain_primary">搜索</a>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>

    <div class="weui_panel">
        <div class="weui_panel_bd">
            @foreach (var item in Model)
            {
                <div class="weui_cells weui_cells_access">
                    <a class="weui_cell" href="@Url.Action("Detail",new { ID=item.ID})">
                        <div class="weui_cell_bd weui_cell_primary">
                            <p>@item.Name</p>
                        </div>
                        <div class="weui_cell_ft">
                            @SysEnum.GetName(typeof(SysEnum.DepartmentTypeEnum), item.TypeEmun)
                        </div>
                    </a>

                </div>
            }
        </div>
    </div>

</div>



@if (Model.PageCount > 1)
{

    <div style="height: 53px; " title="无用的元素，只是点位，当列表数据很长时，fix的分布元素会挡住最后一行的数据嘛"></div>
    <div class="DivPager" id="DivPager">
        <div style="text-align:center;margin-bottom:5px;">
            <div class="btn-group">
                <button type="button" class="btn btn-default" onclick="BtnSch_Click('per')">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &lt;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </button>
                <button type="button" class="btn btn-default">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="SpanPageCurrent">@Model.PageNumber</span> /<span id="SpanPageTotal">@Model.PageCount</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
                <button type="button" class="btn btn-default" onclick="BtnSch_Click('nex')">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    &gt;
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </div>


    </div>

}




