@model Vivo.Model.MemberGroupInfo

@{
    ViewBag.Title = "新建";
    Layout = "~/Areas/Wechat/Views/Shared/_Layout.cshtml";
}

@section head{
    <script type="text/javascript">
        function OnSuccess(data) {
            alert(data.ErrorMsg);
            if (data.ErrorCode != 0) {
                return;
            }
            location.href = "@Url.Action("Detail")/"+data.Data.ID;

        }
        function OnBegin() {

        }
    </script>
}

@using (Ajax.BeginForm("Create", new { @*area = "MP"*@ }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnBegin = "OnBegin", LoadingElementId = "loadingToast" }))
{
    @Html.AntiForgeryToken()
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">名称</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "weui_input" } })
            </div>
        </div>
    </div>
    <div class="weui_cells">

        <div class="weui_cells_title">详细描述</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.TextAreaFor(model => model.Description, new
                   {
                       @class = "weui_textarea",
                       placeholder = "请进一步写明详细信息，例如组员构成",
                       rows = "3"
                   })
                </div>
            </div>
        </div>
    </div>
    <div class="weui_cells">
        <div class="weui_cell weui_cell_switch">
            <div class="weui_cell_hd weui_cell_primary">是否可用</div>
            <div class="weui_cell_ft">
                @Html.CheckBoxFor(model => model.Enable, new { @class = "weui_switch", @checked = "checked" })
            </div>
        </div>
        <div class="weui_cell weui_cell_select weui_select_after">
            <div class="weui_cell_hd">
                <label for="" class="weui_label">排序号</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                @Html.DropDownListFor(model => model.SortID, ViewBag.listSort as IEnumerable<SelectListItem>, new { @class = "weui_select" })
            </div>
        </div>
    </div>




    <div class="weui_btn_area">
        <input type="submit" value="提交" class="weui_btn weui_btn_primary" />
    </div>

}
