@using PagedList;
@using PagedList.Mvc;
@using Vivo.Model;
@using Vivo.IBLL;
@using Vivo.BLLFactory;

@model IPagedList<PrizeResultInfo>

@{
    ViewBag.Title = "";
    Layout = "~/Areas/MP/Views/Shared/_Layout.cshtml";
    IUserInfoService UserBLL = AbstractFactory.CreateUserInfoService();
}
@section head{
    <script type="text/javascript">
        function BtnExport_Click() {
            var URL = "@Url.Action("Export")";
            URL += "?PlanID=" + $("#DdlPlanID").val();
            URL += "&PrizeType=" + $("#DdlPrizeType").val();
            URL += "&DateBegin=" + $("#TxtDateBegin").val();
            URL += "&DateEnd=" + $("#TxtDateEnd").val();
            URL += "&Name=" + $("#TxtName").val();
            location.href = URL;
        }
        function BtnSch_Click() {
            var URL = "@Url.Action("Index")";
            URL += "?PlanID=" + $("#DdlPlanID").val();
            URL += "&PrizeType=" + $("#DdlPrizeType").val();
            URL += "&DateBegin=" + $("#TxtDateBegin").val();
            URL += "&DateEnd=" + $("#TxtDateEnd").val();
            URL += "&Name=" + $("#TxtName").val();
            location.href = URL;
        }
        $(document).ready(function () {
            $("#TxtDateBegin").click(function () { WdatePicker({ dateFmt: 'yyyy-MM-dd' }); });
            $("#TxtDateEnd").click(function () { WdatePicker({ dateFmt: 'yyyy-MM-dd' }); });
        });
    </script>
}

<table cellpadding="0" cellspacing="0" width="100%" border="0" class="table1">
    <tr>
        <td  colspan="4" style="height: 30px" class="td1_1">
            抽奖记录
        </td>
    </tr>
    <tr>
        <td class="td1_2">
            活动
        </td>
        <td class="td1_3">
            @Html.DropDownList("DdlPlanID", ViewBag.listPlan as IEnumerable<SelectListItem>, "不限", new { @class = "form-control" })
        </td>
        <td class="td1_2">
            奖项
        </td>
        <td class="td1_3">
            @Html.DropDownList("DdlPrizeType", ViewBag.listPrizeType as IEnumerable<SelectListItem>, "不限", new { @class = "form-control" })
        </td>
    </tr>
    <tr>
        <td class="td1_2">
            抽奖时间从
        </td>
        <td class="td1_3">
            @Html.TextBox("TxtDateBegin", ViewBag.TxtDateBegin == null ? "" : (string)ViewBag.TxtDateBegin, new { placeholder = "", @class = "form-control" })
        </td>
        <td class="td1_2">
            到
        </td>
        <td class="td1_3">
            @Html.TextBox("TxtDateEnd", ViewBag.TxtDateEnd == null ? "" : (string)ViewBag.TxtDateEnd, new { placeholder = "", @class = "form-control" })
        </td>
    </tr>
    <tr>
        <td class="td1_2">
            抽奖人姓名、电话
        </td>
        <td class="td1_3">
            @Html.TextBox("TxtName", ViewBag.TxtName == null ? "" : (string)ViewBag.TxtName, new { placeholder = "", @class = "form-control" })
        </td>
        <td class="td1_2" colspan="2">
            <input type="button" value="搜索" class="btn btn-default" onclick="BtnSch_Click();" />
            <input type="button" value="导出" class="btn btn-default" onclick="BtnExport_Click();" />

        </td>
    </tr>
</table>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            OpenID
        </th>
        <th>
            昵称
        </th>
        <th>
            头像
        </th>
       <th>
            姓名
        </th>
        <th>
            电话
        </th>
        <th>
            SN号
        </th>
        <th>
            SN区域
        </th>
        <th>
            SN市场层级
        </th>
        <th>
            抽奖时间
        </th>
        <th>
            抽奖结果
        </th>
        <th>
            限定活动
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var infoUser = UserBLL.GetList(a => a.WechatOpenID == item.OpenID).FirstOrDefault();
        var infoVivoAPI = Newtonsoft.Json.JsonConvert.DeserializeObject<VivoAPIInfo>(item.SnApiResult);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @item.OpenID
            </td>
            <td>
                @(null!=infoUser?infoUser.WechatNameNick:"")
            </td>
            <td>
                <img src="@(null!=infoUser?infoUser.WechatHeadImg:"")"  style="width:24px;"/>
            </td>
            <td style="text-align:left;">
                @item.Name
            </td>
            <td>
                @item.Tel
            </td>
            <td>
                @item.SnNumber
            </td>
            <td>
                @(null != infoVivoAPI ? infoVivoAPI.AgenterName : "")
            </td>
            <td>
                @(null != infoVivoAPI ? infoVivoAPI.MarketLevel : "")
            </td>
            <td>
                @item.CreateDate
            </td>
            <td>
                @if (string.IsNullOrEmpty(item.Result))
                {
                    <text>不中奖</text>
                }
                else if (item.Result.Contains("-"))
                {
                    <text>@item.Result</text>
                }
                else if (Tool.Function.ConverToInt(item.Result)>0)
                {
                    <text>@SysEnum.GetName(typeof(SysEnum.PrizeType),Tool.Function.ConverToInt(item.Result))</text>
                }
            </td>
            <td>
                @item.PlanInfo.AgenterName
                /
                @item.PlanInfo.MarketLevel
                /
                @item.PlanInfo.DateBegin.ToString("MM-dd HH")到
                @item.PlanInfo.DateEnd.ToString("MM-dd HH")
            </td>
        </tr>
    }

</table>
<div class="PageCotainer">
    <p class="PageInfoMain">共 @Model.PageCount 页 | @Model.TotalItemCount 条数据</p>
    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
}))
</div>


