@using PagedList;
@using PagedList.Mvc;
@using Vivo.Model;
@using Vivo.IBLL;
@using Vivo.BLLFactory;
@using Tool;

@model IPagedList<Vivo.Model.ResearchPlanInfo>

@{
    Layout = "~/Areas/Wechat/Views/Shared/_Layout.cshtml";
    IPowerActionInfoService PowerActionBLL = (IPowerActionInfoService)ViewBag.PowerActionBLL;
    IUserInfoService UserBLL = AbstractFactory.CreateUserInfoService();
    string GoAction = Function.GetRequestString("GoAction");
    string GoController = Function.GetRequestString("GoController");
    ViewBag.Title = "组织调研";
    if (string.IsNullOrEmpty(GoAction))
    {
        GoAction = "Detail";
    }
    if (string.IsNullOrEmpty(GoController))
    {
        GoController = "ResearchPlan";
    }
}
@section head{

    <style type="text/css">

    </style>
}
<div class="bd">
    @if (GoAction== "Detail"&& PowerActionBLL.PowerCheck(PowerInfo.P_评课管理.PP组织调研.PPP调研计划.添加))
    {
        <a href="@Url.Action("Create","ResearchPlan")" class="weui_btn weui_btn_primary" title="添加" style="margin:15px;">
            添加
        </a>
    }


</div>

<div class="weui_panel" style="padding:20px;">
    <div class="weui_panel_bd">
        @foreach (var item in Model)
        {

            <a style="display:block;padding:5px 15px;" class="weui_media_box weui_media_text" href="@Url.Action(GoAction, GoController, new {PlanID=item.ID, ID=item.ID})">
                <h4 class="weui_media_title">@item.PlanCategoryInfo.Name</h4>
                <p class="weui_media_desc">
                    @item.DepartmentInfo.Name<br/>
                   @item.Name
                </p>
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta">
                        时间: @item.DateBegin.ToString("yyyy-MM-dd")
                    </li>
                    <li class="weui_media_info_meta weui_media_info_meta_extra">
                        状态: 
                        @if (item.DateBegin.Date == DateTime.Now.Date)
                        {
                            <span style="color:#F60;">进行中</span>
                        }
                        else if (item.DateBegin.Date < DateTime.Now.Date)
                        {
                            <span style="color:#CCC;">已结束</span>
                        }
                        else
                        {
                            @SysEnum.GetName(typeof(SysEnum.ResearchPlanStatus), item.Status)
                        }
                    </li>
                </ul>
            </a>
        }
    </div>
</div>



<div style="text-align:center">
    @Html.PagedListPager((IPagedList)Model,
    page => Url.Action("Index", new { page = page }),
    new PagedListRenderOptions
    {
        LinkToPreviousPageFormat = "上一页",
        LinkToNextPageFormat = "下一页",
        MaximumPageNumbersToDisplay = 0,
        Display = PagedListDisplayMode.IfNeeded,
        DisplayEllipsesWhenNotShowingAllPageNumbers = true
    }
    )
</div>
